.container {
  margin: 100px 200px 10px 200px;
  padding: 50px 30px 30px 50px;
  background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
  border-radius: 100px;
  box-shadow: 5px 5px 15px #790c5a;
  max-width: 1100px;
}
body {
  background-color: #fceef5;
}
h1 {
  color: #790c5a;
}
form {
  position: absolute;
  top: 130px;
  left: 600px;
}
h4 {
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
}
li {
  list-style: none;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  display: inline;
}
#yourcity {
  border-radius: 15px;
  border-color: black;
  width: 100%;
}
.btn-primary {
  background-color: #790c5a;
  border-radius: 15px;
  border-color: #f1d4d4;
  margin-right: 15px;
}
.btn-primary:hover {
  background-color: #e6739f;
  border-color: #790c5a;
}
#today {
  padding-top: 30px;
  color: #790c5a;
}
.details {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
}
#forecast {
  padding: 20px 0;
  color: #394867;
  font-size: 14px;
  font-weight: 400;
}
h1,
h3 {
  font-family: "Merriweather", serif;
}
#now {
  color: #968c83;
  font-size: 40px;
}
.temperature {
  font-size: 40px;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.weather-forecast h4 {
  font-size: 14px;
  text-align: center;
  margin: 0;
}
.weather-forecast-temperature {
  text-align: center;
  font-size: 15px;
  color: rgb(66, 27, 45);
  line-height: 0px;
  white-space: nowrap;
}
#opensource {
  margin-left: 250px;
  padding: 15px;
}
